<%= form_for @line do |f| %>
  <p>><%= f.label :name, 'The name of the train line is:' %>
  <%= f.text_field :name %></p>
  <p><%= f.label :frequency, 'The frequency of the train line is:' %>
  <%= f.text_field :frequency %></p>
  <p><%= f.submit 'Create Line' %></p>
<% end %>