<ul>
<%= form_for @line do |f| %>
  <li><%= f.label :name, 'The name of the train line is:' %>
  <%= f.text_field :name %></li>

  <li><%= f.label :frequency, 'The frequency of the train line is:' %>
  <%= f.text_field :frequency %></li>
  
  <li><%= f.submit 'Create Line' %></li>
<% end %>
</ul>