<%= form_for @line do |f| %>
  <p>
    <font color=green size=4 face="Verdana">
      <%= f.label :name, 'The name of the train line is:' %>
      <%= f.text_field :name %>
    </font>
  </p>

  <p>
    <font color=green size=4 face="Verdana">
      <%= f.label :frequency, 'The name of the train line is:' %>
      <%= f.text_field :frequency %>
    </font>
  </p>
  
  <p>
    <font color=green size=4 face="Verdana">
      <%= f.submit 'Create Line' %>
    </font>
  </p>
  
<% end %>