<h1><font color=teal size=69>All Our Choo Choos!</font></h1>

<ul>
	<%= @line.each do |line| %>
	<li><%= line.name %></li>
	<li>
	  <a href="http://localhost:3000/lines/<%= line.id %>"><%= line.name %></a>
	  <%= link_to "Delete", "http://localhost:3000/lines/#{line.id}", :method => :delete %>
	</li>
	<% end %>
</ul>

